.container-search {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 5px;
}

.container-results {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-search-sear {
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-search svg:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.container-search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container-search-result-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.container-search-result-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
}

.container-search-result-main>h2 {
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

.container-search-result-main>p {
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
}

.container-search-result-main input {
    width: 60%;
    margin-top: 5px;
    max-width: 50%;
}

.container-search-result-work {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.container-search-result-work>h2 {
    width: 15%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

.container-search-result-work>p {
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
}

.OrderDefect {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}

.OrderDefect h2 {
    width: 50%;
}

.OrderDefect textarea {
    border: 1px solid #1776CD;
    border-radius: 6px;
    padding: 10px 5px;
    margin-top: 10px;

}

.container-search-result-butoon-red {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.OrderDefect p {
    width: 50%;
    display: flex;
    min-height: 40px;
    max-height: max-content;
    align-items: center;
}

.container-search-result-parts {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 40px;
}

.container-search-result-parts-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-search-result-parts-main {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    gap: 10px;
}

.container-search-result-parts-main>h4 {
    width: calc(100% - 70%);
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.container-search-result-parts-main svg {
    cursor: pointer;
    width: calc(100% - 75%);
    transition: transform 0.2s ease;
}

.container-search-result-parts-main svg:hover {
    transform: scale(1.2);
    color: #1776CD;
}

.container-search-result-parts-prise {
    display: flex;
    align-items: center;
    width: calc(100% - 70%);
    gap: 10px;
}

.container-search-result-parts-prise input {
    width: 100%;
}

.container-search-result-parts-main>p {
    width: calc(100% - 33%);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: left;
}

.container-search-result-staff {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border: 1px solid;
    padding: 5px;
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container-search-result-staff-main {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;

}

.container-search-result-staff-main h1 {
    width: 15%;
}

.container-search-result-staff-main>p {
    width: 30%;
}

.container-block-search {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

@media (max-width: 800px) {

    .container-search-result-main>h2 {
        font-size: calc(12px + 8 * (100vw - 450px) / 1920);
    }

    .OrderDefect h2 {
        font-size: calc(12px + 8 * (100vw - 450px) / 1920);

    }

    .container-search-result {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .container-search-result-main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .container-search-result-work {
        width: 100%;
        display: flex;
        margin-top: 40px;
        flex-wrap: wrap;
        height: 100%;
    }

    .container-search-result-staff {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        border: 1px solid;
        padding: 5px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .container-search-result-staff-main h1 {
        width: 15%;
        font-size: calc(12px + 8 * (100vw - 450px) / 1920);
    }

    .container-search input {
        width: calc(100% - 40%);
        border: 1px solid #1776CD;
        border-radius: 6px;
        padding: 5px 10px;
        cursor: pointer;
    }

    .container-search svg {
        width: 20px;
    }

    .container-results {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-search-result-parts-prise {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }

    .container-search-result-parts-main svg {
        cursor: pointer;
        width: calc(100% - 88%);
        transition: transform 0.2s ease;
    }

    .container-search-result-parts-main>p {
        width: 60%;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        text-align: left;
    }

    .container-block-search {
        display: flex;
        gap: 10px;
        width: 100%;
        justify-content: center;
        margin-bottom: 0;
    }
}